@page "/userdata"

<PageTitle>User data</PageTitle>

@using Blazor.Data

<h1>User service</h1>

<p>This component demonstrates user data from a service.</p>

<UserPromt Users = "@UserService.GetUserList()"></UserPromt>